#loading{
  background: $color-blue;
}

.loading{
  width: 32px;
  position: relative;
}

#opening{
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transform-origin: 50% 50%;
    animation: rotateShineOP 1.75s $easeInOutQuad 0s forwards;

  .shine{
    fill: #fff;
  }
}


@keyframes rotateShineOP {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(180deg);
  }
  30% {
    transform: rotateY(0deg);
  }
  80% {
    transform: scale(.8);
  }
  85% {
    transform: scale(.65);
  }
  90% {
    transform: scale(.65);
  }
  100% {
    transform: scale(150);
  }
}
