.feature1_1{
  width: 227px;
  height: 227px;

  .cls-1{
    fill:none;
    stroke:$color-gray;
    stroke-miterlimit:10;
    stroke-width:32px;
  }
  .cls-2{
    fill:none;
    stroke:$color-blue;
    stroke-miterlimit:10;
    stroke-width:32px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    // stroke:transparent;
    // fill:transparent;
  }
  .cls-3{
    fill:$color-blue;
  }

  &.start{
    .cls-2{
      animation: circle_anime 1.3s $easeInOutQuad 0s forwards;
    }
  }
}

.feature1_2{
  width: 227px;
  height: 227px;

  .cls-1{
    fill:none;
    stroke:$color-gray;
    stroke-miterlimit:10;
    stroke-width:32px;
  }
  .cls-2{
    fill:none;
    stroke:$color-blue;
    stroke-miterlimit:10;
    stroke-width:32px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    // stroke:transparent;
    // fill:transparent;
  }  .cls-3{
    fill:$color-blue;
  }

  &.start{
    .cls-2{
      animation: circle_anime 1.3s $easeInOutQuad 0.2s forwards;
    }
  }
}


@keyframes circle_anime {
  0% {
    stroke-dashoffset: 1000;
    fill:transparent
  }
  50% {
    fill:transparent;
  }
  100% {
    stroke-dashoffset: 0;
  }
}